@import 'libs/bootstrap.min.css';
@import 'styles.css';
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Italiana&display=swap');

.fontFamily-Italiana {
  font-family: 'Italiana', serif;
}

.fontFamily-Cookie {
  font-family: 'Cookie', cursive;
}

.max-width-80per {
  max-width: 80%;
  height: auto;
}
